.theme-default-content code {
	color: #476582;
	padding: .25rem .5rem;
	margin: 0;
	font-size: .85em;
	background-color: rgba(27,31,35,.05);
	border-radius: 3px;
}

.theme-default-content code .token.deleted {
	color: #ec5975;
}

.theme-default-content code .token.inserted {
	color: #3eaf7c;
}

.theme-default-content pre,.theme-default-content pre[class*=language-] {
	line-height: 1.4;
	padding: 1.25rem 1.5rem;
	margin: .85rem 0;
	background-color: #f6f6f6;
	border-radius: 6px;
	overflow: auto;
}

.theme-default-content pre[class*=language-] code,.theme-default-content pre code {
	color: #3a385d;
	padding: 0;
	background-color: transparent;
	border-radius: 0;
}

div[class*=language-] {
	position: relative;
	background-color: #f6f6f6;
	border-radius: 6px;
}

div[class*=language-] .highlight-lines {
	border-radius: 6px;
	background-color: #f6f6f6;
	color: #3a385d;
	-webkit-user-select: none;
	user-select: none;
	padding-top: 2.2rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	line-height: 1.4;
}

div[class*=language-] .highlight-lines .highlighted {
	background-color: #f3edd1;
}

div[class*=language-] pre,div[class*=language-] pre[class*=language-] {
	background: transparent;
	position: relative;
	z-index: 1;
}

div[class*=language-]:before {
	position: absolute;
	z-index: 3;
	top: .8em;
	right: 1em;
	font-size: .75rem;
	color: #00000c;
}

div.line-numbers-mode {
	padding: 1.25rem 0;
	margin-bottom: 16px;
	color: black;
}

div[class*=language-]:not(.line-numbers-mode) .line-numbers-wrapper {
	display: none;
}

div[class*=language-].line-numbers-mode .highlight-lines .highlighted {
	position: relative;
}

div[class*=language-].line-numbers-mode .highlight-lines .highlighted:before {
	content: " ";
	position: absolute;
	z-index: 3;
	left: 0;
	top: 0;
	display: block;
	width: 3.5rem;
	height: 100%;
	background-color: #f3edd1;
}

div[class*=language-].line-numbers-mode pre {
	padding-left: 4.5rem;
	vertical-align: middle;
}

div[class*=language-].line-numbers-mode .line-numbers-wrapper {
	position: absolute;
	top: 0;
	width: 3.5rem;
	text-align: center;
	color: hsla(0,0%,100%,.3);
	padding: 1.25rem 0;
}

div[class*=language-].line-numbers-mode .line-numbers-wrapper br {
	-webkit-user-select: none;
	user-select: none;
}

div[class*=language-].line-numbers-mode .line-numbers-wrapper .line-number {
	position: relative;
	z-index: 3;
	-webkit-user-select: none;
	user-select: none;
	font-size: .85em;
	margin-bottom: 5px;
}

div[class*=language-].line-numbers-mode:after {
	content: "";
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 3.5rem;
	height: 100%;
	border-radius: 6px 0 0 6px;
	border-right: 1px solid rgba(0,0,0,.66);
	background-color: #282c34;
}

div[class~=language-js]:before {
	content: "js";
}

div[class~=language-ts]:before {
	content: "ts";
}

div[class~=language-html]:before {
	content: "html";
}

div[class~=language-md]:before {
	content: "md";
}

div[class~=language-vue]:before {
	content: "vue";
}

div[class~=language-css]:before {
	content: "css";
}

div[class~=language-sass]:before {
	content: "sass";
}

div[class~=language-scss]:before {
	content: "scss";
}

div[class~=language-less]:before {
	content: "less";
}

div[class~=language-stylus]:before {
	content: "stylus";
}

div[class~=language-go]:before {
	content: "go";
}

div[class~=language-java]:before {
	content: "java";
}

div[class~=language-c]:before {
	content: "c";
}

div[class~=language-sh]:before {
	content: "sh";
}

div[class~=language-yaml]:before {
	content: "yaml";
}

div[class~=language-py]:before {
	content: "py";
}

div[class~=language-docker]:before {
	content: "docker";
}

div[class~=language-dockerfile]:before {
	content: "dockerfile";
}

div[class~=language-makefile]:before {
	content: "makefile";
}

div[class~=language-javascript]:before {
	content: "js";
}

div[class~=language-typescript]:before {
	content: "ts";
}

div[class~=language-markup]:before {
	content: "html";
}

div[class~=language-markdown]:before {
	content: "md";
}

div[class~=language-json]:before {
	content: "json";
}

div[class~=language-ruby]:before {
	content: "rb";
}

div[class~=language-python]:before {
	content: "py";
}

div[class~=language-bash]:before {
	content: "sh";
}

div[class~=language-php]:before {
	content: "php";
}

div.reactivecontent {
	width: 1000px;
	margin-left: -100px;
}

.token.punctuation {
	color: #a8a9cc;
}

.token.attr-name,.token.deleted,.token.namespace,.token.tag {
	color: #b2085f;
}

.token.attr-value,.token.char,.token.regex,.token.string,.token.variable {
	color: #0a7a34;
}

.token.atrule,.token.builtin,.token.important,.token.keyword,.token.selector {
	color: #b92dbc;
}

.token.boolean,.token.function,.token.number {
	color: #c25205;
}

.token.class-name,.token.constant,.token.property,.token.symbol {
	color: #717c11;
}

.token.entity,.token.operator,.token.url {
	color: #0b7e7d;
}

.token.block-comment,.token.cdata,.token.comment,.token.doctype,.token.prolog {
	color: #848486;
}

div[class*=language-].line-numbers-mode .line-numbers-wrapper,div[class*=language-].line-numbers-mode:after {
	background-color: #f6f6f6;
	color: #c4c4c6;
	border-right: 1px solid #e7e6e6;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.arrow {
	display: inline-block;
	width: 0;
	height: 0;
}

.arrow.up {
	border-bottom: 6px solid #ccc;
}

.arrow.down,.arrow.up {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
}

.arrow.down {
	border-top: 6px solid #ccc;
}

.arrow.right {
	border-left: 6px solid #ccc;
}

.arrow.left,.arrow.right {
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
}

.arrow.left {
	border-right: 6px solid #ccc;
}

.theme-default-content:not(.custom) {
	max-width: 740px;
	margin: 0 auto;
	padding: 2rem 2.5rem;
}

html.with-beta-banner .theme-default-content:not(.custom) {
	padding-top: 5rem;
}

.table-of-contents .badge {
	vertical-align: middle;
}

body,html {
	padding: 0;
	margin: 0;
	background-color: #fff;
}

body {
	font-family: Inter,Roboto,Oxygen,Fira Sans,Helvetica Neue,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	color: #2c3e50;
}

.page {
	padding-left: 20rem;
}

.theme-default-content:not(.custom)>:first-child {
	margin-top: 3.6rem;
}

.theme-default-content:not(.custom) a:hover {
	text-decoration: underline;
}

.theme-default-content:not(.custom) p.demo {
	padding: 1rem 1.5rem;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.theme-default-content:not(.custom) img {
	max-width: 100%;
}

.theme-default-content.custom {
	padding: 0;
	margin: 0;
}

.theme-default-content.custom img {
	max-width: 100%;
}

kbd {
	background: #eee;
	border: .15rem solid #ddd;
	border-bottom: .25rem solid #ddd;
	border-radius: .15rem;
	padding: 0 .15em;
}

blockquote {
	font-size: 1rem;
	color: #999;
	border-left: .2rem solid #dfe2e5;
	margin: 1rem 0;
	padding: .25rem 0 .25rem 1rem;
}

blockquote>p {
	margin: 0;
}

ol,ul {
	padding-left: 1.2em;
}

strong {
	font-weight: 600;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 500;
	line-height: 1.45;
}

.theme-default-content:not(.custom)>h1,.theme-default-content:not(.custom)>h2,.theme-default-content:not(.custom)>h3,.theme-default-content:not(.custom)>h4,.theme-default-content:not(.custom)>h5,.theme-default-content:not(.custom)>h6 {
	margin-top: -3.1rem;
	padding-top: 4.6rem;
	margin-bottom: 0;
}

.theme-default-content:not(.custom)>h1:first-child,.theme-default-content:not(.custom)>h2:first-child,.theme-default-content:not(.custom)>h3:first-child,.theme-default-content:not(.custom)>h4:first-child,.theme-default-content:not(.custom)>h5:first-child,.theme-default-content:not(.custom)>h6:first-child {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: -1.5rem;
	margin-bottom: 1rem;
}

.theme-default-content:not(.custom)>h1:first-child .badge:first-of-type,.theme-default-content:not(.custom)>h2:first-child .badge:first-of-type,.theme-default-content:not(.custom)>h3:first-child .badge:first-of-type,.theme-default-content:not(.custom)>h4:first-child .badge:first-of-type,.theme-default-content:not(.custom)>h5:first-child .badge:first-of-type,.theme-default-content:not(.custom)>h6:first-child .badge:first-of-type {
	margin-left: .5rem;
}

h1:hover .header-anchor,h2:hover .header-anchor,h3:hover .header-anchor,h4:hover .header-anchor,h5:hover .header-anchor,h6:hover .header-anchor {
	opacity: 1;
}

h1 {
	font-size: 2.2rem;
	font-weight: 600;
}

h2 {
	font-size: 1.65rem;
	padding-bottom: .3rem;
	border-bottom: 1px solid #eaecef;
}

h3 {
	font-size: 1.35rem;
}

.line-number,code,kbd {
	font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
}

ol,p,ul {
	line-height: 1.7;
}

hr {
	border: 0;
	border-top: 1px solid #eaecef;
}

table {
	border-collapse: collapse;
	margin: 1rem 0;
	display: block;
	overflow-x: auto;
}

tr {
	border-top: 1px solid #dfe2e5;
}

tr:nth-child(2n) {
	background-color: #f6f8fa;
}

td,th {
	border: 1px solid #dfe2e5;
	padding: .6em 1em;
}

.demo {
	font-family: sans-serif;
	border: 1px solid #eee;
	border-radius: 2px;
	padding: 20px 30px;
	margin-top: 1em;
	margin-bottom: 40px;
	-webkit-user-select: none;
	user-select: none;
	overflow-x: auto;
}

.badge {
	background-color: #b00000;
	font-size: .8rem;
	border: 2px solid #b00000;
	border-radius: 5px;
	margin-right: .5rem;
	color: #fff;
	padding: .25rem;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	white-space: nowrap;
	border-width: 0;
}

.home {
	font-family: Open Sans,Inter,Roboto,Oxygen,Fira Sans,Helvetica Neue,sans-serif;
}

.page {
	padding-bottom: 2rem;
	display: block;
}